@font-face {
    font-family: 'font_1';
    src: url(fontes/Evil\ Empire.otf);
}
@font-face {
    font-family: 'font_2';
    src: url(fontes/Extreme\ PERSONAL\ USE\ ONLY!.ttf);
}
@font-face {
    font-family: 'font_3';
    src: url(fontes/JMH\ Typewriter-Black.otf);
}
@font-face {
    font-family: 'font_4';
    src: url(fontes/JMH\ Typewriter-Black.ttf);
}
@font-face {
    font-family: 'font_5';
    src: url(fontes/JMH\ Typewriter-Bold.otf);
}
@font-face{
    font-family: 'font_6';
    src: url(fontes/JMH\ Typewriter-Bold.ttf);
}
@font-face {
    font-family: 'font_7';
    src: url(fontes/JMH\ Typewriter-Thin.otf);
}
@font-face {
    font-family: 'font_8';
    src: url(fontes/JMH\ Typewriter-Thin.ttf);
}
@font-face {
    font-family: 'font_9';
    src: url(fontes/JMH\ Typewriter.otf);
}
@font-face {
    font-family: 'font_10';
    src: url(fontes/JMH\ Typewriter.ttf);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.banner{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}
.banner p{
    text-transform: uppercase;
    text-align: center;
    margin-top: 5%;
    font-family: 'font_2';
    font-style: italic;
    font-size: 145px;
    opacity: 0.5;
    text-decoration: underline;
}
